@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;700&display=swap");

:root {
  --font: "Epilogue", sans-serif;
  --main-color: #464b4f;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body,
html {
  min-height: 100%;
  width: 100%;
}

.clear::after,
.clear::before {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}
html {
  scroll-behavior: smooth;
}

/* Main Styles */
body {
  font-family: var(--font);
  background-image: url(../images/background.png);
}

.header {
  height: 100vh;
  background: url("../images/header.jpg") no-repeat top center;
  background-size: cover;
}

.logo {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  padding-top: 50px;
  transition: all 0.3s;
}

.logo:hover {
  transform: scale(0.8);
}

.text {
  text-align: center;
  color: #ffffff;
  margin-top: 20vh;
}

.text h1 {
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
}

.text p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 60px;
  margin-bottom: 160px;
}

.arrow {
  display: block;
  width: 45px;
  height: 45px;
  margin: auto;
  background-image: url(../images/arrow.png);
  transition: all 0.3s;
}

.arrow:hover {
  transform: scale(0.8);
}

.container {
  width: 950px;
  text-align: center;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: var(--main-color);
  margin-top: 130px;
  margin-bottom: 74px;
}

.discription {
  font-size: 30px;
  line-height: 25px;
  font-weight: 300;
}

.down {
  font-size: 40px;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 100px;
}

.bottom {
  width: 950px;
  margin: 0 auto;
}

.design-block li {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 4%;
  color: var(--main-color);
}

.design-block li:last-child {
  margin-right: 0;
}

.design-block li h3 {
  font-size: 18px;
  line-height: 42px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.design-block li p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #888a8b;
}
